body {
    margin: 0;
    padding: 0;
    background: rgb(2,123,206);
    background: radial-gradient(circle, rgba(2,123,206,0.8155637254901961) 11%, rgba(50,112,53,1) 78%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #fffffff5;
    background-size: cover;
    scroll-behavior: smooth;
}

img{
    margin-top: -50px;
    transform: scale(0.5);
}

.log-sign{
    margin-top: -140px;
}

.language {
    width: 90px;
    height: 40px;
}

.zoom2 {
    font-family: 'Roboto', sans-serif;
    transition: transform .2s;
    margin: 0 auto;
}

.zoom2:hover {
    transform: scale(1.2);
}

.vh-70 {
    height: 70vh !important;
}

.container-footer2 {
    color: rgb(234, 235, 237);
    padding-top: 0 !important;
}

.backwhite {
    background-color: rgba(42, 46, 48, 0.705);
    border-radius: 2px;
    margin-left: 5%;
    margin-right: 5%;
}

.containerLogin{
    margin-right: 30px;
    margin-top: 10px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    display: flex;
    justify-content: center;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
    height: 40%;
  }
  
  /* The Close Button */
  .close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }